@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.showcase-form{
    animation: slideInFromRight 1s ease-in;
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.stats{
    animation: slideInFromBottom 1s ease-in 0.5s;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }